---
# Rancher Manager version to install.
# Find releases at: https://github.com/rancher/rancher/releases
rancher_version: "2.13.2"

# Initial admin password set on first login.
rancher_manager_password: "changeme"
