apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: gpu-operator
  namespace: kube-system
spec:
  repo: https://helm.ngc.nvidia.com/nvidia
  chart: gpu-operator
  version: {{ gpu_operator_version }}
  targetNamespace: gpu-operator
  createNamespace: true
  valuesContent: |-
    driver:
      enabled: true
      repository: registry.suse.com/third-party/nvidia
      image: driver
      version: "{{ nvidia_driver_image_version }}"
      imagePullSecrets:
        - {{ appco_secret_name }}
    toolkit:
      enabled: true
      env:
        - name: CONTAINERD_SOCKET
          value: /run/rke2/containerd/containerd.sock
        - name: ACCEPT_NVIDIA_VISIBLE_DEVICES_ENVVAR_WHEN_UNPRIVILEGED
          value: "false"
        - name: ACCEPT_NVIDIA_VISIBLE_DEVICES_AS_VOLUME_MOUNTS
          value: "true"
    devicePlugin:
      env:
        - name: DEVICE_LIST_STRATEGY
          value: volume-mounts
