{% if rke2_token is defined and rke2_token | length > 0 %}
token: {{ rke2_token }}
{% endif %}

# Agents join via the load balancer for HA — if no LB, use bootstrap IP instead
server: https://{{ rke2_vip_ip }}:9345
